{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Welcome to Home Page Taskmate</title>
{% endblock title %}

<!--By lepiej zrozumieć tworzenie layoutu strony Index, używałem na Bootstrap/topography, Grid, Shadow, Colors itd.. -->
{% block content %}
    <div class = "container" >
       <!-- <h1>{{ index_text }}</h1>-->
            <div class = 'row mt-5'>
                <div class = 'col-lg-4' ><img src='{% static 'images/notes.jpg' %}' alt="Notes" class = 'rounded-lg shadow' width="360" height="250"></div>
                <div class = 'col-lg-4' ><img src='{% static 'images/sticky.jpg' %}' alt="Notes" class = 'rounded-lg shadow' width="360" height="250"></div>
                <div class = 'col-lg-4' ><img src='{% static 'images/idea.jpg' %}' alt="Notes" class = 'rounded-lg shadow' width="360" height="250"></div>
            </div>
    </div>
    <div class = 'row mt-5'>
        <div class = 'col-md-10 offset-md-1'>
            <center><p class = "h1">Super strona, która jest w trakcie realizacji</p></center>
            <center><p class = "h2 mt-3">Super strona, która jest w trakcie testów</p></center>
            <center><p class = "h5">Super strona, która jest w trakcie przygotowania</p></center>

            <center><a href="{% url 'todolist' %}"><button type="button" class="btn btn-primary btn-lg mt-3 shadow">Zaczynamy</button></a></center>
        </div>
    </div>

{% endblock content %}